name: Build APK

on:
  push:
    branches: [ "main", "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Build Debug APK
        run: |
          chmod +x gradlew
          ./gradlew assembleDebug

      - name: List all APKs
        run: ls -R app/build/outputs/

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: elly-el-barra-apk
          path: "app/build/outputs/**/*.apk"
